<div class="container">
  <h2>ORLY MegaPixelFX - Pixelate Yourself!</h2>
  <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span12">
		<div class="span9"> <div id="upldimage"> <%= image_tag @image.image_url(:thumb) ,:id=>"my_img"%></div></div>
		<div class="span3">
		  <%=form_for Image.new, :html => {:multipart => true,:id => "new_image"} do |f| %>
			<div id='file_browse_wrapper' class="mleft"><%= f.file_field :image %></div>
			<%= f.submit "Upload Image",:class => 'btn',:style=>"display:none"%>
		  <%end%>
		  <br>  
		  <form name="dwn" method="post" action="/image_download" id="dwn">
			<input type="hidden" name="final-image" id="final-image" value="">
			<input type="hidden" name="time" id="time" value="">
			  <input type="hidden" name="imurl" id="imurl" value="<%=@image.image_url%>">
			<div id="save"></div>
		  </form>
		  <br><br>
		  <div id='fbshare' ></div>
		</div>
	  </div>
	</div>
  </div>
  <br/>
  <div class="row-fluid">
	<div class="span9">
	  <span class="pixless">
		Pixelize Less 
	  </span>
	  <span class="pslider">
		<div  id="v-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 89%;background-color: #0E90D2;"></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="bottom: 89%;"></a></div>
	  </span>
	  <span id="output" >2</span><span class="percentage">%</span>
	  <span style="float:right;">
		Pixelize More
	  </span>
	</div>
	<div class="span3">
	</div>
  </div>
  <br /><br /><br /> 
  <div class="row-fluid">
	<div class="span10">
	   <%= render :partial => '/images/instruction', :layout => false %>
	</div>
	<div class="span5"></div>
  </div>
</div>
<%=image_tag('logo.png',:style=>"display:none",:id=>"textimage")%>
<input type="hidden" name="final-img" id="final-img" value="">
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
  window.onload = window.onload = canvas();
  $(document).ready(function(){
	$("#image_image").on('change',function(){
	  $("#new_image").submit();
	});
	
	$("#image_image").on('change',function(){
		 $("#new_image").submit();
	});
	
	$("#save").click(function(){
		var canvas = document.getElementById('my_img');
		var ctx = canvas.getContext("2d");
		var t=setTimeout(function(){ctx.drawImage(document.getElementById('textimage'),canvas.width-100,canvas.height-75)
		var src = canvas.toDataURL();
		var canvasrc = src.replace(/^data:image\/(png|jpg);base64,/, "");
		var ts = Math.round((new Date()).getTime() / 1000);
		$("#final-image").val(canvasrc);
		$("#time").val(ts);
		$("#dwn").submit();
		},1000);
	});

	
	$('#fbshare').click(function() {
	  
	  
		var canvas = document.getElementById('my_img');
		var ctx = canvas.getContext("2d");
		var t=setTimeout(function(){
			ctx.drawImage(document.getElementById('textimage'),canvas.width-100,canvas.height-75);
				var src = canvas.toDataURL();
				var canvasrc = src.replace(/^data:image\/(png|jpg);base64,/, "");
				var ts = Math.round((new Date()).getTime() / 1000);
		
				$.ajax({
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
					url: "/image_save",
					type: "POST",
					data: { 'src': canvasrc,'img_url': "<%=@image.image_url%>",'id':ts},
					cache: false,
					success: function (response) {
					  $("#final-img").val(response);
				
						return true;
					}
				});
				
					var filename =$("#final-img").val();
					FB.init({appId: "157299074435054", status: true, cookie: true});
					FB.ui(
						{
						  method: 'feed',
						  name: 'ORLY MegaPIxelFX ? Pixelate Yourself!',
						  link: filename,
						  picture: filename,
						  caption: '',
						  description: 'In honor of our new collection, MegaPixel FX, we are giving our fans the opportunity to pixelate themselves!'
						},
						function(response) {
						  if (response && response.post_id) {
						  } else {
						  }
						});
				
		  
			},3000);
	

	});
	
	
});
</script>
