<div id="loading"></div>
<div class="container">
    <span class="span3"><%=image_tag('MegaPixel_ORLY_logo.png')%></span><span class="span5"><%=image_tag('MegaPixel_App_logo.png')%></span>
  <div class="container-fluid">
	<div class="row-fluid">
	  <div class="span12">
		<div id="my-img" style="display:none;"><%=@image.image_url(:thumb)%></div>
		<div class="span8"> <div style="width:393px;height: 393px" id="upldimage"> <%= image_tag @image.image_url(:thumb) ,:id=>"my_img"%></div></div>
		<div class="span4" style="margin-left:-12px!important;">
		  <%=form_for Image.new, :html => {:multipart => true,:id => "new_image",:style=>"margin-bottom: -9px;"} do |f| %>
			<div id='file_browse_wrapper' class="mleft"><%= f.file_field :image %></div>
			<%= f.submit "Upload Image",:class => 'btn',:style=>"display:none;"%>
		  <%end%>		  
		  <br>  
		  <form name="dwn" method="post" action="/image_download" id="dwn">
			<input type="hidden" name="final-image" id="final-image" value="">
			<input type="hidden" name="time" id="time" value="">
			  <input type="hidden" name="imurl" id="imurl" value="<%=@image.image_url%>">
			<div id="save"></div>
		  </form>
		  <br><br>
		  <div id='fbshare' ><%=image_tag('MegaPixel_Button_Facebook.png')%></div>
		  <div id='twshare' ></div>
		   <div id='emshare' ></div>
		</div>
	  </div>
	</div>
  </div>
  <br/>
  <div class="row-fluid">
	<div class="span9">
	  <span class="pixless">
		Pixelize Less 
	  </span>
	  <span class="pslider">
		<div  id="v-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 89%;background-color: #0E90D2;"></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="bottom: 89%;"></a></div>
	  </span>
	  <span id="output" >2</span><span class="percentage">%</span>
	  &nbsp;<span style="">
		Pixelize More
	  </span>
	</div>
	<div class="span3">
	</div>
  </div>
  <br /><br /><br /> 
  <div class="row-fluid">
	<div class="span10">
	   <%= render :partial => '/images/instruction', :layout => false %>
	</div>
	<div class="span5"></div>
  </div>
</div>
<%=image_tag('logo.png',:style=>"display:none",:id=>"textimage")%>
<%=image_tag('ologo.png',:style=>"display:none",:id=>"otextimage")%>
<input type="hidden" name="final-img" id="final-img" value="">
<script src="https://connect.facebook.net/en_US/all.js"></script>

<script>

window.onload = function() {

  var img1 = document.getElementById('my_img')

  var pixelOpts = [ { resolution: 2 } ]
  var pixelimg1 = img1.closePixelate( pixelOpts )

  var range = document.getElementById('range')
  var output = document.getElementById('output')
  $("#v-slider").slider({

    range: "min",
    min: 0,
    max: 100,
    value: 2,
    slide: function (event, ui) {
        $("#output").html(ui.value);
        
    var res = ui.value ;
	var src =  $("#my-img").html();
	var img = '<img src='+src+' id="my_img" name="my_img" />';
	 $("#upldimage").empty();
	 
    $("#upldimage").html(img);
	var img1 = document.getElementById('my_img');
    res = Math.floor( res / 2 ) * 2
    res = Math.max( 2, Math.min( 100, res ) )
    output.textContent = res
    pixelOpts = [ { resolution: res } ]
	img1.closePixelate( pixelOpts )
   // pixelimg1.render( pixelOpts )
        
        
    }
});

}

</script>